$color: #0062ac;
$btn-bgcolor: #0062ac;
$btn-bgcolor_h: #014a81;// //0062ac
$font-color:#333;
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
div,span,a,ul,li {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
div,a,ul,li {
  color:$font-color;
}
// 全局布局样式
.el-header {
  height: 64px;
  background-color: #fff;
}
.el-input--medium .el-input__inner{
  height: 30px;
}
.el-input--medium {
  width: 220px;
}
.el-breadcrumb__inner {
  color:$font-color;
}
.el-button--primary {
  color: #FFF;
  background-color: $color;
  border-color: $color;
}
.el-button--primary:focus, .el-button--primary:hover {
  background: $btn-bgcolor_h;
  border-color: $btn-bgcolor_h;
  color: #FFF;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #e5eff7;
}
.el-input__inner:hover {
  border-color: $btn-bgcolor;
}
.el-input__inner:focus {
  border-color: $btn-bgcolor;
}
.block {
  margin-top: 20px;
  text-align: center;
}
.el-pagination {
  color:$font-color;
}
.el-pager li.active {
  color: $color;
  cursor: default;
}
.el-pager li:hover {
  color: $color;
}
.el-select-dropdown__item.selected {
  color: $color;
}
.el-select .el-input.is-focus .el-input__inner {
  border-color: $color;
}
.el-pagination__sizes .el-input .el-input__inner:hover {
  border-color: $color;
}
.el-select .el-input__inner:focus {
  border-color: $color;
}
.el-pagination__total {
  color: $font-color;
}
.el-select-dropdown__item {
  color: $font-color;
}
.el-select .el-input__inner {
  color: $font-color;
}
.el-pagination__jump {
  color: $font-color;
}
.el-pagination__jump .el-input__inner {
  color: $font-color;
}
.el-tabs__item.is-active {
  color: $color;
  background: #fff;
}
.el-tabs__item {
  background: #e9ecf3;
}
.el-tabs__item:hover {
  color: $color;
}
.el-form-item__label {
  color: $font-color;
  text-align: left;
  word-break: break-all;
  font-weight: 500;
}
.el-dialog__header {
  padding: 20px 20px 10px;
  border-bottom: 1px solid #f0f0f0;
}
.el-dialog__footer {
  text-align: center;
}
.el-button--primary2 {
  color: $font-color;
  background-color: #fff;
  border-color:$color;
}
.el-button--primary2:focus, .el-button--primary2:hover {
  color:$color;
  border-color: $color;
  background-color: #fff;
}
.el-pagination button:hover {
  color: $color;
}
.el-dialog__headerbtn:hover .el-dialog__close {
  color: $color;
}
.el-breadcrumb {
  margin-bottom: 20px;
  margin-left: 20px;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  font-weight: 400;
  color: #8a8b8d;
  cursor: text;
}
.el-breadcrumb__inner {
  color: #8a8b8d;
}
.el-tabs__header {
  padding: 0;
  position: relative;
  margin: 0;
}
.el-tabs__content {
  background: #fff;
  padding: 20px;
}
.el-submenu__title i {
  color: #fff;
}
.el-tabs--card>.el-tabs__header .el-tabs__item {
  border-left: 1px solid #d3d3d4;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav {
  border: 1px solid #d3d3d4;
  border-bottom: 1px solid #fff;
}
.el-input.is-disabled .el-input__inner {
  color: #333;
}