/* 改变主题色变量 */
$--color-primary: #2b50ef;
$color: #2b50ef;
// /* 改变 icon 字体路径变量，必需 */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";

// element.style默认样式修改
#app .el-container .el-aside {
  width: 224px !important;
  background-color: rgba(63, 63, 63, 1);
}
.el-menu-vertical-demo {
  border-right: none;
}
.el-submenu__title {
  background-color: rgba(63, 63, 63, 1) !important;
  &:hover {
    i {
      color: #fff;
    }
    background-color: rgba(16, 142, 233, 1) !important;
  }
}
.el-menu-item-group__title {
  display: none;
}
.el-menu-item, .el-submenu__title {
  height: 40px;
  line-height: 40px;
}
.el-submenu .el-menu-item {
  height: 36px;
  line-height: 36px;
  background-color: rgb(65, 68, 71) !important;
  &:hover {
    i {
      color: #fff;
    }
    background-color: rgb(75, 79, 83) !important;
  }
}
// 面包屑
.el-breadcrumb {
  margin-bottom: 30px;
}

// 登陆页
$bg:#2d3a4b;

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;
    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      height: 47px;
      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: #fff !important;
      }
    }
  }
  .el-form-item--medium .el-form-item__content,
  .el-form-item--medium .el-form-item__label {
    background-color: #fff;
    border: none;
  }
  .el-form-item {
    border-bottom: 1px solid $color;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}